# Datasources
datasources/
data/

# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# IDE settings
# PyCharm
.idea/
# VS Code
.vscode/

# Environment variables
.env
.env.development
.env.production

# Ignore secret files
*.secret
*.key
*.pem
*.crt

# Ignore Docker secrets
secrets/
*.secret.*

# tests since it has been asked in the exercise not to include them
pytest.ini
tests/
